{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container" style="width:100%; padding-left:0; padding-right:0;">
    <div class="carousel" style="background-color: #4AB9B2;" align="center">
        {% for image in object_list %}
            <a class="carousel-item"  href="{% url 'single_trip_gallery' gallery_pk=image.pk %}">
            {% if image.main_photo %}
                <img src="{{ image.main_photo.url }}" style="height:100%; width:auto;">
            {% endif %}
            </a>
        {% endfor %}
    </div>
    </div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
     $('.carousel').carousel();
});
</script>
{% endblock %}