{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container" style="width:100%; padding-left:0; margin-left:0; padding-right:0; margin-right:0;">

    <div class="carousel carousel-slider">
        {% for trip in object_list %}
            <a class="carousel-item" href="{% url 'single_trip' trip_pk=trip.pk %}">
                {{ trip.photograph }}
                {% if trip.photograph.url %}
                <img src="{{ trip.photograph.url }}" style="height:100%; width:auto;">
                {% endif %}
            </a>
        {% endfor %}
    </div>

    </div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
     $('.carousel.carousel-slider').carousel({fullWidth: true});
});
</script>
{% endblock %}
