{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container"
         style="width:100%; padding-left:0;  padding-right:0; background-color: #4AB9B2;"
            >

    <div class="carousel" align="center">
        {% for trip in object_list %}
            <a class="carousel-item" href="{% url 'single_trip' trip_pk=trip.pk %}">
                {% if trip.photograph %}
                <img src="{{ trip.photograph.url }}" style="height:100%; width:auto;">
                {% endif %}
            </a>
        {% endfor %}
    </div>

    </div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
     $('.carousel').carousel();
});
</script>
{% endblock %}
