{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div style="background-color: #4AB9B2; background-size:100%, auto; height:500px " >
<div class="row" align="center">
    <div class="col l12">
        <div class="col l4" align="center">
            <a href="{% url "trips" %}" style="bottom: 200px; position: absolute; width:10%; left: 100px;">
{#                <img src="{% static 'images/btn_group_trips.png' %}" style="width:95%;">#}


                <img src="{% static 'images/viajes_grupales_icon.png' %}" style="width:95%;"
                    onmouseover="this.src='{% static 'images/viajes_grupales_text.png' %}'"
                    onmouseout="this.src='{% static 'images/viajes_grupales_icon.png' %}'"
                border="0" alt=""/>
            </a>
        </div>
         <div class="col l4" align="center">
{#            <img src="{% static 'images/dreams_logo.png' %}" style="width:20%; bottom: 100px; position: absolute;">#}
        </div>
        <div class="col l4" align="center">
            <a href="#cotizModal" style="bottom: 200px; position: absolute; width:10%; ">
{#                <img src="{% static 'images/btn_private_trips.png' %}" style="width:95%;">#}
                <img src="{% static 'images/viajes_privados_icon.png' %}" style="width:95%;"
                    onmouseover="this.src='{% static 'images/viajes_privados_text.png' %}'"
                    onmouseout="this.src='{% static 'images/viajes_privados_icon.png' %}'"
                border="0" alt=""/>
            </a>
        </div>
    </div>
</div>
</div>
{% endblock %}
