{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container" style="width:100%; padding-left:0; padding-right:0;">
    <div class="carousel" style="background-color: #4AB9B2;" align="center">
        {% for image in object_list %}
            <a class="carousel-item">
            {% if image.photograph %}
                <img src="{{ image.photograph.url }}" style="height:100%; width:auto;">
            {% endif %}
            </a>
        {% endfor %}
    </div>
    </div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
     $('.carousel').carousel();
});
</script>
{% endblock %}