{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container" style="width:100%; padding-left:0; margin-left:0; padding-right:0; margin-right:0;">
    <div class="carousel" style="background-color: #4AB9B2;" align="center">
        {% for member in object_list %}
            <a class="carousel-item">
            {% if member.profile_pic %}
                <img src="{{ member.photograph.url }}" style="height:100%">
                {% else %}
                <span style="color:black">
                    {{ member.auth_user.first_name }} {{ member.auth_user.last_name }}
                    <br>
                    <i class="fa fa-whatsapp" aria-hidden="true"></i> {{ member.phone }}
                </span>
            {% endif %}
            </a>
        {% endfor %}
    </div>
    </div>

{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
     $('.carousel').carousel();
});
</script>
{% endblock %}