{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container" style="width:100%; padding-left:0; margin-left:0">

        <div class="row">
            <div class="col l12 s12">
                <div class="col l8 s8"
                     style="background-color: #51d1ce; color:white; min-height:415px;">
                    <div class="col l12 s12" style="margin-top:25px;">
                        <p><b>Políticas de Reservación en Grupo (No aplica planes
                            todo incluído):</b><br>
                            • Todas las reservaciones son vía deposito o
                            transferencia bancaria.<br>
                            • El seguro de viajero cubre únicamente dentro de la
                            unidad de transporte.<br>
                            • Cinco días antes de realizar el viaje, éste deberá
                            estar liquidado al cien porciento; si el viaje es
                            liquidado después de esta fecha se cobrará una multa
                            del diez porciento por impuntualidad del
                            pago.<br>
                            Dreams Trips no se hace responsable por las personas
                            que no lleguen en tiempo y forma a la
                            salida del viaje, ya sea en el inicio de éste o en
                            los traslados del mismo.<br>
                            15 días antes del viaje no puede haber cancelaciones
                            de ningún lugar reservado, de ser así el
                            cliente deberá liquidar la totalidad del boleto
                            rescindido. (Puede existir variación, verificar el
                            itinerario correspondiente al viaje).<br>
                            Bajo ninguna circunstancia hay reembolsos por parte
                            de la Agencia, a menos que ésta cancelé
                            el viaje, siendo así el reembolso es 100% íntegro.<br>
                            En la operación del viaje se manejan tiempos
                            estimados, hay factores externos que pueden
                            modificarlos (clima, peajes, tráfico, etc).<br>
                            El coordinador tiene la facultad de realizar cambios
                            en el itinerario de acuerdo a las condiciones
                            de operación del viaje que puedan poner en riesgo la
                            integridad y seguridad del grupo
                            Es responsabilidad del coordinador comunicar los
                            cambios existentes en la operación del viaje.<br>
                            Al momento de realizar la reservación el cliente da
                            por confirmado el conocimiento total de las
                            políticas.</p>

                        <p><b>Políticas de Reservación en grupo en planes todo
                            incluido:</b><br>
                            • Todas las reservaciones son vía deposito o
                            transferencia bancaria.<br>
                            • El seguro de viajero cubre únicamente dentro de la
                            unidad de transporte.<br>
                            • 30 días antes de realizar el viaje, éste deberá
                            estar liquidado al cien porciento; si el viaje es
                            liquidado después de esta fecha se cobrará una multa
                            del 15% por impuntualidad del pago.<br>
                            • Dreams Trips no se hace responsable por las
                            personas que no lleguen en tiempo y forma a la
                            •salida del viaje, ya sea en el inicio de éste o en
                            los traslados del mismo.<br>
                            60 días antes del viaje no puede haber cancelaciones
                            de ningún lugar reservado, de ser así el
                            cliente deberá liquidar la totalidad del boleto
                            rescindido.<br>
                            Bajo ninguna circunstancia hay reembolsos por parte
                            de la Agencia, a menos que ésta cancelé
                            el viaje, siendo así el reembolso es 100% íntegro.<br>
                            En la operación del viaje se manejan tiempos
                            estimados, hay factores externos que pueden
                            modificarlos (clima, peajes, tráfico, etc).<br>
                            El coordinador tiene la facultad de realizar cambios
                            en el itinerario de acuerdo a las condiciones
                            de operación del viaje que puedan poner en riesgo la
                            integridad y seguridad del grupo
                            Es responsabilidad del coordinador comunicar los
                            cambios existentes en la operación del viaje.<br>
                            Al momento de realizar la reservación el cliente da
                            por confirmado el conocimiento total de las
                            políticas.</p>
                    </div>

{#                    <div class="col l12 s12" style="margin-top:25px;">#}
{#                        <div class="col l6 s6">#}
{#                            MISIÓN#}
{#                            <p>Brindar el mejor servicio superando las#}
{#                                expectativas de#}
{#                                nuestros dreamers con el fin de lograr una plena#}
{#                                satisfacción#}
{#                                mediante productos turísticos a precios#}
{#                                competitivos que les#}
{#                                permitan realizar viajes para un desarrollo#}
{#                                placentero.</p>#}
{#                        </div>#}
{#                        <div class="col l6 s6">#}
{#                            VISIÓN#}
{#                            <p>Ser una cadena de agencias de viajes virtuales#}
{#                                confiables y#}
{#                                seguras, que ofrezcan tranquilidad yun excelene#}
{#                                servicio a#}
{#                                nuestros dreamers en viajes dentro y fuera del#}
{#                                país.</p>#}
{#                        </div>#}
{#                    </div>#}
                </div>

                <div class="col l4 s4" align="center">

                    <img src="{% static 'images/dreams_logo.png' %}"
                         style="margin-top: 20px;">

                    <a href="{% url 'team' %}"><img
                            src="{% static 'images/conoce_button.png' %}"
                            style="margin-top: 20px;"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
